@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 62.5%;
    color: #d0d0d0;
}

body {
    font-size: 1.8rem;
    height: 100vh;
    background-color: #282a36;
}

.page {
    width: fit-content;
    margin-inline: auto;
    padding: 1rem;
    margin-top: 15rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.content {
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: #191a21;
    padding: 1rem;
    margin-inline: auto;
    gap: 1rem;
    border-radius: 10px;
}

.cabecalho {
    color: #32d97b;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    position: fixed;
    top: 0;
    left: 0;
    background-color: #191a21;
    color: #287fc9;
    width: 100%;
    padding-block: 3rem;
    /* background-color: rgb(118, 209, 28); */
}
header p {
    margin: .2rem;
    font-weight: bolder;
}

.container {
    display: flex;
    justify-content: space-between;
}

header .container {
    width: 60%;
    max-width: 1080px;
    margin-inline: auto;
}
form {
    /* background-color: yellow; */
    width: fit-content;
    margin-inline: auto;
}

input[type='number']{
    /* outline: 1px solid darkturquoise; */
    text-align: center;
    border-radius: 10px;
    padding: .5rem;
    font-size: 2rem;
    font-weight: bolder;
    color: #555;
}

p {
    width: fit-content;
    /* background-color: bisque; */
}

.result {
    width: fit-content;
    margin-inline: auto;
}

.result p {
    margin-bottom: .5rem;
}

#reload {
    display: none;
    transition: .2s;
    background: none;
    margin-top: 1.5rem;
}

#reload.show {
    display: block;
    width: fit-content;
    margin-inline: auto;
    padding: .5rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transform: scale(1.2);
    animation: active 2.5s infinite;
}

#reload:hover {
    animation: active .5s infinite;
    background: none;
    transform: scale(1);
}

@keyframes active {
    25% {
        outline: 2px solid aqua;
        font-weight: bolder;
        color: aqua;
    }

    50% {
        outline: 2px solid chartreuse;
        font-weight: bolder;
        color: chartreuse;
    }
    75% {
        outline: 2px solid #a089f9;
        font-weight: bolder;
        color: #a089f9;
    }

    100%, 0% {
        outline: 2px dashed darkorange;
        font-weight: bolder;
        color: darkorange;
    }
}